<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Управление раздатками</title>

    <link rel="stylesheet" href="/static/css/admin.css">
</head>

{% for asset in assets %}
    <label>
        <input type="radio" name="asset" value="{{ asset }}" {{ 'checked' if asset == selected_asset else '' }}/>
        <img src="/static/assets/{{ asset }}">
    </label>
{% endfor %}

<label>
    <input type="radio" name="asset" value="" {{ 'checked' if '' == selected_asset else '' }}/>
    Без раздатки
</label>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="/static/js/dist_control.js"></script>

</body>
</html>