<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Управление раздатками</title>

    <script src="/static/js/dist_control.js"></script>

    <link rel="stylesheet" href="/static/css/admin.css">
</head>

{% for asset in assets %}
    <label>
        <input type="radio" name="asset" value="{{ asset }}"/>
        <img src="/static/assets/{{ asset }}">
    </label>
{% endfor %}

<label>
    <input type="radio" name="asset" value=""/>
    Без раздатки
</label>

</body>
</html>